<section class="frontPage bg-primary text-center" id="frontPage">
    <div class="container">
        <div id="status"></div>
        <div class="row">
            <div class="col-md-8 mx-auto">

                <h2 class="section-heading">Favorites</h2>
                <h3 class="section-heading">Enjoy local brews and breweries, safely!</h3>
            </div>
        </div>
            <div class="row">
            <div class="col-xs-12">
                <table class='table' id="searchResults"></table>
            </div>
        </div>
    </div>
</section>




<script type="text/javascript" src="/js/favorites.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/fblogin.js" type="text/javascript"></script>
{{!-- <script type="text/javascript" src="/js/untappd.js" type="text/javascript"></script> --}}



