  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>
    <div id="logout" class="pull-right"></div>




    <!-- <fb:login-button
    id="login-button2"
    data-size="large"
    data-width="800px"
    scope="public_profile,email"
    onlogin="checkLoginState();"
    data-button-type="continue_with"
    data-show-faces="false"
    data-auto-logout-link="true"
    data-use-continue-as="false"
    data-use-login-as="true">
  </fb:login-button> -->

    <section class="frontPage bg-primary text-center" id="frontPage">

        <div class="container">
          <div id="status"></div>
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <!-- horizontal center -->
                    <h2 class="section-heading">Brew Search</h2>
                    <h3 class="section-heading">Explore your favorite brews!</h3>
                    <a href="https://untappd.com/oauth/authenticate/?client_id=F6CEADEC4156A0C41AB03AA0DF49D327D016CE0E&response_type=code&redirect_url=localhost:8080/untappd"><button type="button" name="button">Untappd Login</button>
                    </a>
                </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><strong>Search Brews</strong></h3>
                  </div>
                  <div class="panel-body">
                    <form action="" method="POST" role="form">
                      <div class="form-group">
                        <label for="">Beer Name:</label>
                        <input type="text" class="form-control" id="beer" placeholder="">
                      </div>
                      <div class="form-group">
                        <label for="">Brewery Name:</label>
                        <input type="text" class="form-control" id="brewery" placeholder="">
                      </div>
                    </form>
                    <br>
                    <div class="text-right">
                      <button type="submit" class="btn btn-success btn-md" id="search-btn"><span class="glyphicon glyphicon-search" aria-hidden='true'></span>Search</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
             <!-- close row -->
            <div class="row" >
              <div class="col-xs-12">
                <!-- <table class='table'>
                  <tr>
                    <th>Beer Name</th>
                    <th>Description</th>
                    <th>ABV</th>
                    <th>Label</th>
                    <th>Brewery Name</th>
                  </tr>
                </table> -->
                <table class='table' id="searchResults">

                </table>
              </div>
                <!-- <div class="col-md-6 mx-auto animated zoomIn" id="infoColumn">
                    <div class="row" id="title"></div>
                    <div class="row" id="imageRow">
                        <div class="col-md-12" id="images"></div>
                    </div>
                </div>
                <div class="col-md-6 mx-auto animated zoomIn" id="map"></div> -->
            </div>

</section>
<script type="text/javascript" src="/js/untappd.js" type="text/javascript"></script>
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz9XbBnnAkDpIGfPce9gn1AxIrzpquR54&callback=initMap" type="text/javascript"></script>
    <script type="text/javascript" src="app/public/js/app.js" type="text/javascript"></script>
    <script type="text/javascript" src="./app/public/js/gmaps.js" type="text/javascript"></script>
    <script type="text/javascript" src="./app/public/js/flickr.js" type="text/javascript"></script>
    <script type="text/javascript" src="./app/public/js/fblogin.js" type="text/javascript"></script>
    <script type="text/javascript" src="./app/public/js/untappd.js" type="text/javascript"></script> -->
